/* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 450px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    /* overflow-x: hidden; Disable horizontal scroll */
    padding-top: 20px;
    overflow-y: auto;
  }
  
  /* The navigation menu links */
  .sidenav h2 img {
    padding: 35px 35px 0px 35px;
  }

  .sidenav p2 img {
    padding: 35px 25px 0px 25px;
  }

  .profile{
      padding: 5% 5% 0% 5%;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav {
    color: #f1f1f1;
  }

  .sidenav h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 1.6;
    font-weight: 200;
    padding: 5px 0px 0px 45px;
    transform: translate(2%, 0%);;
  }

  .sidenav h2 img{
    transform: translate(-23%, 0%);
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  }

  .sidenav h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 200;
    text-align: center;
  }

  .sidenav p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 200;
    text-align: center;
    padding: 15px 0px 0px 0px;
  }

  .sidenav p2{
    padding: 0px 0px 0px 55px;
  }
  
  /* Style page content */
  .main {
    margin-left: 450px; /* Same as the width of the sidebar */
    padding: 100px 30px 30px 30px;
  }

  .main p{
    padding: 30px 30px 0px 0px;
  }

  .main h1 {
    font-family: 'Bitter', serif;
    font-size: 64px;
    font-weight: 600;
  }

  .main p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 600px) {
    /* .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;} */
    .sidenav {width: 200px;}
    .sidenav p2 img {padding: 5% 0% 0% 0%;
                     transform: translate(-90%, 0%);}
    .sidenav h2 img {transform: translate(20%, 0%);}
    .sidenav h2 {transform: translate(-7%, 0%);}
    .main{margin-left: 200px;
          padding: 10px 10px 10px 10px;}
    .main h1 {font-size: 42px;}
    .main p {font-size: 16px;
             padding: 30px 10px 0px 0px;}
  } 